# Data sets
All datasets
datasets
dataset_old_csvs
app/__pycache__
app/models/__pycache__
# Logs
logs/
!logs/empty.txt

logs/*
# Tensor Board
tensor_boards/
!tensor_boards/empty.txt

# All modules
*.pth

# Assets
images
# Ignore all files in the assets folder
assets/*
# Except for text files
!assets/empty.txt
static/*
static/studies/*.*
static/studies/*
static/templates/*
static/templates/*.*

# Tests
test.py
test_detector

__pycache__/
*.pyc

*.ipynb_checkpoints/

# Env Variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
/datasets_test
/datasets_try
kept_cases.txt
removed_cases.txt
/models
